{% extends 'base/base.html' %}
{% block content %}
  <h1>Añadido</h1>
  {% comment %} <div class="container">
    <div class="row product-detail-row mt-4 mb-5">
      <div class="col-5">
        <img src="{{ product.image.url }}" class="img-fluid" height="" />
      </div>
      <div class="col-7">
        <div class="jumbotron">
          <h1 class="display-4">{{ product.name }}</h1>
          <div class="price-container">
            <h5 class="card-title">3 USD</h5>
          </div>
          <hr class="my-4" />
        </div>
      </div>
    </div>
  </div> {% endcomment %}
{% endblock %}
