{% extends 'base/base.html' %}
{% block content %}
  <h1>CARRITO</h1>

  {% if cart.products.exists %}
    <div class="row">
      <div class="col-8">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody>
            {% comment %} {% for product in cart.products  %} {% endcomment %}
            {% for cp in cart.products_related %}
              {%with product=cp.product %}
                <tr>
                  <th>{{ forloop.counter }}</th>
                  <th>
                    {% if product.image %}
                      <img src="{{ product.image.url }}" alt="" width="60" height="60" />
                    {% endif %}
                  </th>
                  <th>
                    <a href="{% url 'get_product' id=product.id %}">{{ product.name }}</a>
                    <form action="{% url 'remove_to_cart' %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="product_id" value="{{ product.id }}" />
                      <button type="submit" class="btn btn-link text-danger p-0">Eliminar</button>
                    </form>
                  </th>
                  <th>{{ cp.quantity }}</th>
                  <th>
                    <span class="font-weight-bold text-danger">{{ product.price }}</span>
                  </th>
                </tr>
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="font-weight-bold">
              Subtotal({{ cart.products.count }}): <span class="text-danger">{{ cart.subtotal }}</span>
            </div>
            <div class="mt-2">
              <a href="{% url 'shop' %}">Seguir comprando</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="col">
      <p class="h3">Vacío</p>
      <a href="{% url 'shop' %}">Seguir comprando</a>
    </div>
  {% endif %}
{% endblock %}
