{% extends "base/base.html" %}
{% block content %}
<div class="login-container container">
    <div class="card">
        <div class="card-body">
            <h1 class="text-center mb-5">Signup</h1>
            
            <form action={% url 'signup' %} method="post">
                {% csrf_token %}
                {{ form }}
                <input class="btn submit-btn btn-tomato" type="submit" value="Sigup">
            </form>
            
        </div>
    </div>
</div>
{% endblock content %}