* {
    font-family: 'Merriweather', serif;
    font-weight: 500;
}

/* NAVBAR */
#navbarNav .navbar-nav .nav-item a {
    color: #fff;
}

.border-rigth {
    border-right: 20px solid rgb(0, 171, 131);
    padding: 120px 20px 120px 0;
}

.nav-border {
    border-right: 2px solid rgb(0, 171, 131);
}

.nav-border-none {
    border-right: none;
}

#navbarNav .nav-item .nav-border-home {
    border: 2px solid rgb(0, 171, 131);
    padding: 6.4px;
    padding-left: 20px;
    padding-right: 20px;
}

.bi-person-fill,
.bi-cart2,
.bi-basket2-fill {
    font-size: 22px;
    color: #fff;
}


.nav-border-home:hover,
.nav-border:hover,
.bi.bi-person-fill:hover {
    color: #fff;
    background-color: rgb(0, 171, 131);
}

/* NAVBAR */


/* HOME */

.home-col-one {
    height: 60vh;
    background-image: url("/media/index/diseno-interiores-habitaciones.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e1e7d9;
}

.home-col-two {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    padding-right: 0;
}


.product-link {
    text-decoration: none;
    color: #000;
}

.product-link:hover {
    color: rgb(0, 171, 131);
}


.benefits-img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.benefits-box {
    background-color: rgb(224, 245, 240);
}

/* HOME */


/* SHOP */
.title-shop {
    color: rgb(0, 171, 131);
}

.description-shop {
    font-size: 13px;
    color: gray;
}

.details {
    border: 1.5px solid grey;
    color: #212121;
    margin-bottom: 11px;
    width: 100%;
    font-size: 10px;
}

.details:hover {
    color: rgb(0, 171, 131);
}

.cart {
    background-color: rgb(0, 171, 131);
    color: white;
    font-weight: 900;
    padding-top: 9px;
    width: 100%;
    font-size: 12px;
}

.card {
    border-radius: 5px;
    padding-bottom: 10px;
}

.btn {
    border-radius: 0;
}

.btn.cart {
    margin: 0px;
}

.fixed-image-size {
    width: 280px;
    height: 320px;
}

.max {
    max-width: 345px;
}

.list-group-item {
    border: none;
    padding: 0.3rem 0.4rem 0.3rem 0rem;
}

.list-group-item a {
    text-decoration: none;
    color: #808080;
    font-size: 14px;
}

.list-group-item a:hover {
    color: rgb(0, 171, 131);
}

.categories {
    border: 1.5px solid rgb(0, 171, 131);
    border-radius: 5px;
    padding: 10px;
}

.categories h4 {
    font-weight: 100;
}

/* SHOP */

/* SHOW PRODUCT */
.quantity-button,
.btn-submit {
    background-color: rgb(0, 171, 131);
    border: 1px solid rgb(0, 171, 131);
    color: #fff;

}

.product-img {
    max-width: 646px;
    max-height: 400px;
}

/* SHOW PRODUCT */

/*LOGIN */

.login-container,
.signup-container {
    padding: 40px;
    display: grid;
    align-items: center;
    max-width: 500px;
    margin: auto;
}

.login-container input,
.signup-container input {
    width: 100%;
    margin: 10px 0;
}

.btn-2 {
    text-decoration: none;
    color: #fff;
    background-color: rgb(0, 171, 131);
    padding: 10px;
    border-radius: 10px;
}

.btn-2:hover {
    background-color: rgb(178, 241, 227);
    color: #000;
}

.btn-3 {
    text-decoration: none;
    color: #fff;
    background-color: rgb(212, 115, 3);
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.btn-3:hover {
    color: #000;
    background-color: rgb(236, 195, 147);

}

.mm {
    margin-top: 100px;
}