* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.home-col-one {
  height: 60vh;
  background-image: url("img/monstera-deliciosa-planta-maceta.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e1e7d9;
}

.home-col-two {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  padding-right: 0;
}

.border-rigth {
  border-right: 20px solid black;
  padding: 120px 20px 120px 0;
}
